.image-gallery {
  display: flex;
  flex-direction: column;
}

.main-image-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 16px;
}

.main-image {
  max-width: 80%;
  max-height: 80vh; /* Giới hạn chiều cao tối đa là 80% chiều cao của viewport */
  object-fit: contain;
  transition: transform 0.3s ease;
}

.main-image:hover {
  transform: scale(1.05);
}

.thumbnail-container {
  display: flex;
  gap: 8px;
  overflow-x: auto;
}

.thumbnail-wrapper {
  flex: 0 0 auto;
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border: 2px solid transparent;
  transition: border-color 0.3s ease;
  cursor: pointer;
}

.thumbnail-wrapper:hover,
.thumbnail-wrapper.active {
  border-color: #1890ff;
}

.thumbnail-image {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}
